<%= form_with(model: support_ticket, local: true) do |form| %>
  <% if support_ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(support_ticket.errors.count, "error") %> prohibited this support_ticket from being saved:</h2>

      <ul>
      <% support_ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @logged_in_user.nil? %>
    <div class="field">
      <%= form.label :requester_email %>
      <%= form.email_field :requester_email, required: true %>
    </div>

    <div class="field">
      <%= form.label :requester_name %>
      <%= form.text_field :requester_name, required: true %>
    </div>
  <% else %>
    <%= form.hidden_field :user_id %>
  <% end %>




  <div class="field">
    <%= form.label :subject %>
    <%= form.text_field :subject, required: true %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, rows: 15, required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
